.treeContainer {
  padding-left: 33px;
  margin-top: 15px;
  border-left: 1px dotted black;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.typeIcon {
  margin-bottom: 5px;
  transform: scale(1.3);
  padding-left: 7px;
  padding-right: 3px;
}
