.checkbox {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  overflow: hidden;
  transform: scale(0.8);
  color: white;
  background-color: var(--blue-background);
  border: 1px solid var(--blue-background);
  border-radius: 4px;
}

.removeBackground {
  background-color: white;
}
